<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="https://unpkg.com/xp.css" />
  <!--  <link rel="stylesheet" href="/styles/layout.css">-->
  <link rel="stylesheet" href="/styles/content.css">
  <title>Scheduler</title>
</head>

<body class="ult_win">
  <header>
  </header>
  
  <main class="container">
    <div class="window" style="margin: 32px; width: 250px">
      <div class="title-bar">
          <div class="title-bar-text">
              Chronicle
          </div>
      </div>
      <div class="window-body">
          <p>Hello stranger!</p>
          
      