<%- include("header.ejs") %>
    <form action="/submit" method="POST" class="window">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required />
        <br>
        <label for="desc">Description:</label>
        <input type="text" name="desc" id="desc" required />
        <br>
        <label for="d_date">Due:</label>
        <input type="datetime" name="d_date" id="d_date" required />
        <input type="submit" value="Add">
      </form>
      <br/>
      <p>click</p>
      <button goto="/view">View schedule</button>
      <a href="/view">just</a>
<%- include("footer.ejs") %>